<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MovieDB{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="container mx-auto bg-gray-100">
<nav class="flex items-center justify-between flex-wrap bg-red-600 p-6 rounded-b">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <a href="{{ path('overview') }}" class="font-semibold text-xl tracking-tight">MovieDB</a>
    </div>
    <div class="block lg:hidden">
        <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
            </svg>
        </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm">
            <a href="{{ path('movie_list') }}"
               class="block mt-4 lg:inline-block lg:mt-0 text-red-100 hover:text-white mr-4">
                Filmy
            </a>
        </div>
        {% if app.user %}
            <div class="text-sm">
                <a href="{{ path('movie_add') }}"
                   class="block mt-4 lg:inline-block lg:mt-0 text-red-100 hover:text-white mr-4">
                    Přidat film
                </a>
            </div>
        {% endif %}
        <div class="text-sm lg:flex-grow">
            <a href="{{ path('user_list') }}"
               class="block mt-4 lg:inline-block lg:mt-0 text-red-100 hover:text-white mr-4">
                Uživatelé
            </a>
        </div>
        <div>
            {% if app.user %}
                <span class="text-white px-4">
                            {{ app.user.username }}
                        </span>
                <a href="{{ path('app_logout') }}"
                   class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-red-500 hover:bg-white mt-4 lg:mt-0">
                    Odhlásit se
                </a>
            {% else %}
                <a href="{{ path('app_login') }}"
                   class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-red-500 hover:bg-white mt-4 lg:mt-0">
                    Přihlásit se
                </a>
                <a href="{{ path('app_register') }}"
                   class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-red-500 hover:bg-white mt-4 lg:mt-0">
                    Zaregistrovat se
                </a>
            {% endif %}
        </div>
    </div>
</nav>

{% for type, messages in app.flashes %}
    <div class="flash flex items-center bg-green-500 text-white text-sm font-bold px-4 py-3 mt-4" role="alert">
        <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
             viewBox="0 0 24 24">
            <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
        </svg>
        <p>{{ messages[0] }}</p>
    </div>
{% endfor %}

{% block body %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
